.box{
    background-color: #f1d9bf;
    width: 20rem;
    height: 40rem;
    border-style: solid;
    border-color: #000000;
    padding: 2rem;
}
.input{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enterTaskButton{
    border: 0.1rem solid rgba(0, 0, 255, 0.55);
    font-size: 1rem;

}
.addButton{
    background-color: #5252e1;
    border:none;
    color:white;
    font-size: 1rem;
}
.bgTask{
    padding:2px;
    border-radius: 0.3rem;
    color: #000000;
    background-color: #8ef1e8;
}
.bubble{
    background-color: #b8acf8;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}